<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <title> Place Ships </title>
</head>

<style>
    
</style>

<body>
    <div id="main">
        <table class="ship-place-table">
            <tr>
                <th></th>
                <th v-for="column in columns"> {{column}} </th>

            </tr>
            <tr v-for="row in rows">
                <th> {{row}} </th>
                <td v-for="column in columns" v-bind:id="row+column" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            </tr>
            <div>

            </div>
        </table>
        <div id="ships">
            <div class="ship">
                Aircraft Carrier:
                <div class="shipcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div><img src="aircraftcarrier.png" draggable="true" ondragstart="drag(event)" id="Carrier" @click="Rotate('Carrier')" class="normal"></div>
            </div>
            <div class="ship">
                Battleship:
                <div class="shipcontainer" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="battleship.png" draggable="true" ondragstart="drag(event)" id="Battleship" @click="Rotate('Battleship')" class="normal" ></div>
            </div>
            <div class="ship">
                Submarine:
                <div class="shipcontainer" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="submarine.png" draggable="true" ondragstart="drag(event)" id="Submarine" @click="Rotate('Submarine')" class="normal" ></div>
            </div>
            <div class="ship">
                Destroyer:
                <div class="shipcontainer" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="destroyer.png" draggable="true" ondragstart="drag(event)" id="Destroyer" @click="Rotate('Destroyer')" class="normal" ></div>
            </div>
            <div class="ship">
                Patrol Boat:
                <div class="shipcontainer" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="patrolboat.png" draggable="true" ondragstart="drag(event)" id="Patrol-boat" @click="Rotate('Patrol-boat')" class="normal"></div>
            </div>


        </div>

    </div>



    <script src="game.js"></script>
    </div>
</body>

</html>
