td {border: solid 1px black;
    background-color: white;
text-align: center;
    font-weight: bold
    
        
}

th {background-color: deepskyblue;
    border: solid 2px black;
    width: 9%;
    height: 9%;
}


.table {width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: aqua;
}

h1, h3 {margin-left: 50px;
    margin-right: 50px}



.right-table {display: flex;
flex-direction: column}

.left-table {display: flex;
flex-direction: column}

#main {display: flex;
flex-direction: row;
justify-content: space-between}



