td {
    border: solid 1px black;
    margin: 0;
}

th {
    background-color: deepskyblue;
    border: solid 2px black;
/*
    width: 9%;
    height: 6%;
*/
}
th,
tr,
td{width: 45px;
height: 45px}




.ship-place-table {
/*    width: 80%;*/
/*    height: 80%;*/
    margin-left: 10px;
/*    width: 60%*/
}



.ship {
    display: flex;
    flex-direction: column;
 }

#containership.normal{width: 510%; height: 35px; margin-left: 5px; margin-top: 2px}
#cruiseship.normal{width: 410%; height: 35px;margin-left: 5px; margin-top: 2px}
#yacht.normal{width: 300%; height: 35px; margin-left: 5px; margin-top: 2px}
#fishingboat.normal{width: 300%; height: 35px; margin-left: 5px; margin-top: 2px}
#speedboat.normal{width: 200%; height: 35px; margin-left: 5px; margin-top: 2px}

#speedboat.rotate{width: 200%; height: 35px; margin-left: 15px; margin-top: 0px}
#containership.rotate{width: 510%; height: 35px; margin-left: 5px; margin-top: 2px}
#cruiseship.rotate{width: 410%; height: 35px;margin-left: 5px; margin-top: 2px}
#yacht.rotate{width: 300%; height: 35px; margin-left: 5px; margin-top: 2px}
#fishingboat.rotate{width: 300%; height: 35px; margin-left: 10px; margin-bottom: 2px}



h1,
h3 {
    margin-left: 50px;
    margin-right: 50px
}

/*
input[type=checkbox]:checked ~ .rotate{
     -webkit-transform: rotate(90deg);
       transform: rotate(90deg);
    
}
*/

/*
img{width: 500%;
}
*/



.rotate {
   -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
    transform-origin: 10% 50%
}

.normal {
   -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
}

.shipcontainer {
    float: left;
    width: 50px;
    margin-right: 70px;
    margin: 10px;
    padding: 10px;

}

.right-table {
    display: flex;
    flex-direction: column
}

.left-table {
    display: flex;
    flex-direction: column
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 70%
}

body,
html {
    height: 100%
}
