body,
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow-y: hidden;
}


body {
    background-image: url(4451708-tropical-beach-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

td {width: 45px;
    height: 45px;
    border: solid 1px black;
    margin: 0;
position: relative;
    background-image: url("blue-swimming-pool-rippled-water-detail_1258-710.jpg")
}

th {
    background-color: #d0451b;
    border: solid 2px black;
    border-radius: 10px
}


td.salvoTable:hover {
    background-image: none;
    background-color: green
}

.ship {
    position: relative;
    display: flex;
    flex-direction: column;
}

.fire{position: absolute;
    top: 5px ;
    left: 5px;
    width: 30px;
    height: 30px
    
}

.notShooting {opacity : 0.5
}


.waitingMessage{
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 2
}

#salvoTableTotal{position: relative;
    width: 568px;
margin-left: 20px

}


#containership.normal {
    width: 520%;
    height: 35px;
    margin-left: 5px;
    margin-top: 2px
}

#cruiseship.normal {
    width: 410%;
    height: 35px;
    margin-left: 5px;
    margin-top: 2px
}

#yacht.normal {
    width: 300%;
    height: 35px;
    margin-left: 5px;
    margin-top: 2px
}

#fishingboat.normal {
    width: 300%;
    height: 35px;
    margin-left: 5px;
    margin-top: 2px
}

#speedboat.normal {
    width: 200%;
    height: 35px;
    margin-left: 3px;
    margin-top: 2px
}

#speedboat.rotate {
    width: 180%;
    height: 35px;
    margin-left: 11px;
    margin-top: 0px
}

#containership.rotate {
    width: 500%;
    height: 35px;
    margin-left: 10px;
    margin-top: 0px
}

#cruiseship.rotate {
    width: 410%;
    height: 35px;
    margin-left: 5px;
    margin-top: 2px
}

#yacht.rotate {
    width: 280%;
    height: 35px;
    margin-left: 10px;
    margin-top: 2px
}

#fishingboat.rotate {
    width: 290%;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 2px
}



h1,
h3 {
    margin-left: 50px;
    margin-right: 50px;
    background-color: steelblue;
    padding: 20px;
    border:  2px solid black;
}

.rotate#containership {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 6% 50%
}

.rotate#speedboat {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 15% 50%
}

.rotate {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 10% 50%
}

.normal {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.shipcontainer {
    float: left;
    width: 50px;
    margin-right: 70px;
    margin: 10px;
    padding: 10px;
    height: 50px
}

.table{width: 568px;
margin-left: 20px}

.right-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px
    
}

.left-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px
    
    
}



#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 10px
}

th,
tr,
td.droptarget {
    width: 45px;
    height: 45px
}

.miss {
    background-image: url("41e775f33b4b8f54c9f235f46ac88ef8.jpg");
/*    background-color: green;*/
    width: 45px;
    height: 45px
}

.shot {
    background-image: url("");
    background-color: yellow;
    width: 45px;
    height: 45px
}
img {position: relative;
    z-index: 1
}

.hit {
    background-image: url("animated-fire-image-0371.gif");

    width: 45px;
    height: 45px
}

.pin{height: 200%;
width: 200%}

.gamesList{width: 50%;
    height: 80%;
    margin-bottom: 20px;
background-color: black;
opacity: 0.7;
color: white;
font-weight: bold;
overflow-X: hidden;
    overflow-Y: scroll;
}

tr{background-image: none;
    width: 100%
}

td.gamesColumn{
   width: 40%;
    background-image: none
     
}

table{background-image: none}

td.thirdGamesColumn{
    width: 20%;
    background-image: none
}

.gamesTable{background-image: none;
    width: 100%
}

.loginAndScores{width: 50%;
margin-left: 20px}

.scores{width: 100%;
margin: 0px;
}

#formAndButtons{display: flex;
flex-direction: row}

input{width: 100%;
border: 2px solid blue;
    border-radius: 4px;
margin-top:10px;
height: 25px}

.loginButtons{display: flex;
flex-direction: column}

.inputs{display: flex;
flex-direction: column}

th.scoreCell{width: 200px}

td.scoreCell{background-image: url(""); background-color: skyblue;
width: 100%;
text-align: center}

.rightSideButtons{width:150px; 
margin-top: 150px;
margin-right: 20px}

ul{font-family: Arial, Helvetica, sans-serif;}

/*
.game{height: 60px;
display: flex;
justify-content: space-between;
border-bottom:solid 1px black;}
*/

button {
    -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #d0451b;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 16px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    height: 50px;width: 120px;
    margin: 10px;
    opacity: 1.0;
}

.button.wide{width: 150px;
padding: 10px}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #bc3315;
}

button:active {
    position: relative;
    top: 1px;
}